body {
  margin: 0;
  background-color: blue;

}

.user__form {

  background-color: blue;
  width: 400px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;

}

.user__form-name {
  width: 200px;
  height: 30px;
  margin: 0 auto;
}

.user__form-btn {
  width: 100px;
  height: 30px;
  margin: 0 auto;
  margin-top: 30px;

}

.user__form-title {
  color: white;
}

.board {
  text-align: center;
  background-color: blue;
  color: white;

}

.columns {
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

.board {
 
  position: relative;
}

.main__title {
  margin: 0;
  padding:20px 0;
}

.case__creator-name {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

.column__title {
  display: flex;
  align-items: center;
}

.column__title-name {
  font-size: 24px;
  color: white;
  border: none;
  background-color: transparent;
}

.column__title-btn {
  width: 25px;

  height: 30px;
  color: white;
  background-color: transparent;
  border: none;
}

.column__title-img {
  fill: white;
}
.columns{
position: relative;}
.column__items{
position: relative;}

.board__column{
position: relative;}
.Creator {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgb(206, 191, 191);
  margin: auto;


  text-align: center;
  width: 300px;
  height: 150px;
}


.creator__desc {
  width: 250px;
  margin: 0 auto;
}

.creator__btn {
  width: 200px;
  margin: 0 auto;
}

.creator__desc {
  height: 100px;
  resize: none;
  font-size: 24px;
  margin-top: 20px;
}

.creator__btn {
  width: 100px;
}

.creator__btns {
  margin: 10px 0px;
  display: flex;

}

.card {

  background-color: rgb(19, 19, 124);
  color: white;
  min-height: 100px;
}

.card {
  width: 300px;
  cursor: pointer;
  z-index: 0;
  position: relative;
}


.card__trash{
  position: relative;
  text-align: right;
    padding: 0 30px;
display: block;
  top: -50px;
  fill: white;
  top: -40px;
  left: 225px;
cursor: pointer;}

.Creator {

  margin-top: 20px;
}

.case__creator-name {
  margin-top: 20px;
}

.card__wrapper{

  position: relative;
  margin: 0 auto;

}
.cardpopup {
  position: absolute;
  margin:0 auto ;
  
  width: 100vw;
  height: 100vh;
  background-color: rgba(3, 2, 34, 0.9);
  z-index: 30;
}

.cardpopup__title{
  resize: none;
  color: white;
  text-align: center;
  width: 300px;
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0;
  font-size: 24px;
}

.popup_close{
background-color:transparent;
border:none;
outline: none;
cursor: pointer;
font-size: 20px;
margin-left: auto;
color: white;
margin-top: 10px;
margin-right: 10px;
}

.card__content {


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: 0 auto;
  margin-top: 5%;
  background-color: gray;
  text-align: center;
  cursor: pointer;
}

.cardpopup__txt {
  resize: none;
  height: 150px;
  width: 300px;

}

.cardpopup__top {
  width: 300px;
}

.cardpopup__bottom {

  width: 300px;
}

.column__title-img {
  cursor: pointer;
  width: 32px;
}
.comment_btn{
  width: 200px;
  margin: 0 auto;
}
.comment_p{
  word-wrap: break-word;
}
.comment_desc{

  height: 100px;
  resize: none;
  font-size: 16px;
  margin-top: 20px;
  width: 300px;
}
.comment_btns{
  margin: 10px 0px;
  display: flex;

}
.comment{
  resize: none;
}
.comment.active{
  background-color: black;
}
.popup__column{

}